// consumercredentials.go.example

package xingapi

type ConsumerCredentialsExample struct {
	Token string
	Secret string
}

func NewCredentialsExample() ConsumerCredentials {
	return ConsumerCredentials{"your key", "your secret"}
}
